---
layout: default
---

<h1>{{ page.title }}</h1>

{% assign writing_posts = site.posts | where: "categories", "writing" %}
{% for post in writing_posts %}
  <div class="posts-container">
    <h2>
      <a href="{{ post.url }}">{{ post.title }}</a>
    </h2>
    {% if post.image %}
      <div class="thumbnail-container">
        <a href="{{ post.url }}"><img src="/assets/img/{{ post.image }}"></a>
      </div>
    {% endif %}
    <p>
      {{ post.content | strip_html | truncate: 350 }} <a href="{{ post.url }}">Read more</a>
      <span class="post-date"><i class="fa fa-calendar" aria-hidden="true"></i> {{ post.date | date_to_string }} - <i class="fa fa-clock-o" aria-hidden="true"></i> {% include read-time.html %}</span>
    </p>
  </div>
{% endfor %}
